@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url("../font/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("../font/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"), url("../font/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), url("../font/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-ExtraBold"), url("../font/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
